<div class="comment-respond m-t30" id="respond">

    <h2 class="comment-reply-title m-b30" id="reply-title">Leave a Replay
    </h2>
    <p>Phasellus ac consequat turpis, sit amet.Please Required fields mark *</p>

    <form class="comment-form row" id="commentform" method="post">

        <p class="comment-form-author col-lg-6 col-md-6">
            <label for="author">Your Name <span class="required">*</span></label>
            <input class="form-control" type="text" value="" name="user-comment" placeholder="Your Name *" id="author">
        </p>

        <p class="comment-form-email col-lg-6 col-md-6">
            <label for="url">Phone Number</label>
            <input class="form-control" type="text" value="" name="url" placeholder="Phone Number *" id="url">
        </p>

        <p class="comment-form-url col-lg-12 col-md-12">


            <label for="email">Email <span class="required">*</span></label>
            <input class="form-control" type="text" value="" name="email" placeholder="Your Email *" id="email">
        </p>

        <p class="comment-form-comment col-lg-12 col-md-12">
            <label for="comment">Comment</label>
            <textarea class="form-control" rows="8" name="comment" placeholder="Message" id="comment"></textarea>
        </p>

        <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent"
                type="checkbox" value="yes"><label for="wp-comment-cookies-consent">Save my name, email, and website in
                this browser for the next time I comment.</label></p>

        <p class="form-submit">

            <button type="button" class="site-button sx-btn-primary icon sx-btn-lg"><i
                    class="fa  fa-long-arrow-right"></i> Post Comment </button>

        </p>

    </form>

</div>