<!-- OUR SERVICES SECTION START -->
<div class="section-full p-t110 sx-our-services-outer-2 sx-bg-white">
    <app-section-services1></app-section-services1>
</div>
<!-- OUR SERVICES SECTION END -->

<!-- ABOUT COMPANY START -->
<div class="section-full  p-t110 p-b80 bg-white sx-about-bx3-outer">
    <div class="container">
        <div class="section-content">

            <!-- Info START -->
            <app-section-about-company4></app-section-about-company4>
            <!-- Info  END -->
        </div>

    </div>

</div>
<!-- ABOUT COMPANY END -->

<!-- VIDEO SECTION START -->
<app-section-video1></app-section-video1>
<!-- VIDEO SECTION START -->

<!-- WHY CHOOSE-US SECTION START -->
<app-section-why-choose-us1></app-section-why-choose-us1>
<!-- WHY CHOOSE-US SECTION END -->

<!-- OUR TEAM START -->
<app-section-team1></app-section-team1>
<!-- OUR TEAM END -->