<div class="section-full p-t110 p-b80 sx-why-choose2-outer sx-bg-light"
    style="background-image:url(assets/images/services/bg-img.jpg);">
    <div class="container">

        <!--Large Title-->
        <div class="large-title-block sx-all-white">
            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <!-- TITLE START -->
                    <div class="section-head left">
                        <div class="sx-head-s-title">Our Services</div>
                        <div class="sx-head-l-title">
                            <h2 class="sx-title">What We Are Expart At Our Special Services.</h2>
                        </div>
                    </div>
                    <!-- TITLE END -->

                </div>


                <div class="col-lg-6 col-md-6">
                    <div class=" large-title-info">
                        <p>Nunc tempor ultrices iaculis. Cras suscipit odio ut neque interdum, sed faucibus
                            lorem feugiat.
                            tincidunt tellus quis iaculis interdum. Donec a lobortis arcu. Fusce viverra a dolor
                            quis tincidunt. Pellentesque vitae diam sodales nisl dapibus finibus.
                        </p>
                    </div>
                </div>

            </div>
        </div>


        <div class="section-content">
            <div class="owl-carousel sx-why-choose-carousel2 m-b30">
                <!--One block-->
                <div class="item">
                    <div class="sx-service-bx-2">
                        <div class="sx-icon-box-wraper">
                            <div class="sx-img-bx">
                                <span class="sx-img-bx-media">
                                    <img src="assets/images/services/images/pic-1.jpg" alt="image">
                                </span>
                            </div>
                            <div class="icon-content">
                                <a routerLink="/itsolutions/services/detail" class="sx-why-ch-category">It Solutions</a>
                                <a routerLink="/itsolutions/services/detail">
                                    <h4 class="sx-tilte">Analytic Solutions</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--One two-->
                <div class="item">
                    <div class="sx-service-bx-2">
                        <div class="sx-icon-box-wraper">
                            <div class="sx-img-bx">
                                <span class="sx-img-bx-media">
                                    <img src="assets/images/services/images/pic-2.jpg" alt="image">
                                </span>
                            </div>
                            <div class="icon-content">
                                <a routerLink="/itsolutions/services/detail" class="sx-why-ch-category">Real
                                    Specialist</a>
                                <a routerLink="/itsolutions/services/detail">
                                    <h4 class="sx-tilte">Business Planning</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--One three-->
                <div class="item">
                    <div class="sx-service-bx-2">
                        <div class="sx-icon-box-wraper">
                            <div class="sx-img-bx">
                                <span class="sx-img-bx-media">
                                    <img src="assets/images/services/images/pic-3.jpg" alt="image">
                                </span>
                            </div>
                            <div class="icon-content">
                                <a routerLink="/itsolutions/services/detail" class="sx-why-ch-category">Time Saving</a>
                                <a routerLink="/itsolutions/services/detail">
                                    <h4 class="sx-tilte">Company Accounting</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>