<!-- SECTION CONTENT START -->
<div class="section-full p-t100 p-b0 bg-white mobile-page-padding">

    <!-- GALLERY CONTENT START -->
    <div class="container">
        <div class="masonry-outer mfp-gallery news-grid clearfix row">

            <!-- COLUMNS 1 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic1.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 2 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic2.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 3 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic3.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 4 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic4.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 5 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic5.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 6 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic6.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 7 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic7.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 8 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic8.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- COLUMNS 9 -->
            <div class="masonry-item  col-lg-4 col-md-6 col-sm-12 m-b30">
                <div class="sx-latest-post-st-1">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid/pic9.jpg" alt=""></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-calendar"></i>01
                                        Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i class="fa fa-comments"></i>0
                                        Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size of business agency kal
                                    Consulat Latest Management.</a></h4>
                        </div>
                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark" class="site-button icon"><i
                                    class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="sx-pagination-wra text-center">
            <ul class="sx-pagination">
                <li><a href="#"><span class="fa fa-long-arrow-left"></span></a></li>
                <li><a href="#">01</a></li>
                <li class="active"><a href="#">02</a></li>
                <li><a href="#">03</a></li>
                <li><a href="#">04</a></li>
                <li><a href="#"><span class="fa fa-long-arrow-right"></span></a></li>
            </ul>
        </div>
    </div>
    <!-- GALLERY CONTENT END -->

</div>
<!-- SECTION CONTENT END  -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2 [show_title]="false"></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->