<div class="section-full p-t100 p-b70 mobile-page-padding">
    <div class="container">

        <div class="section-content">
            <div class="sx-box m-b30">
                <div class="icon-font">



                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-twitter"></div>
                        <div class="class-name">.flaticon-twitter</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-facebook"></div>
                        <div class="class-name">.flaticon-facebook</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-instagram"></div>
                        <div class="class-name">.flaticon-instagram</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-linkedin"></div>
                        <div class="class-name">.flaticon-linkedin</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-youtube"></div>
                        <div class="class-name">.flaticon-youtube</div>
                    </div>



                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-behance"></div>
                        <div class="class-name">.flaticon-behance</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-rss"></div>
                        <div class="class-name">.flaticon-rss</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-dribbble"></div>
                        <div class="class-name">.flaticon-dribbble</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-left-chevron"></div>
                        <div class="class-name">.flaticon-left-chevron</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-chevron"></div>
                        <div class="class-name">.flaticon-chevron</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-long-arrow-pointing-to-the-right"></div>
                        <div class="class-name">.flaticon-long-arrow-pointing-to-the-right</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-long-arrow-pointing-to-left"></div>
                        <div class="class-name">.flaticon-long-arrow-pointing-to-left</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-play-button"></div>
                        <div class="class-name">.flaticon-play-button</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-play"></div>
                        <div class="class-name">.flaticon-play</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-security"></div>
                        <div class="class-name">.flaticon-security</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-employee"></div>
                        <div class="class-name">.flaticon-employee</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-smart-contracts"></div>
                        <div class="class-name">.flaticon-smart-contracts</div>
                    </div>

                    <!--New-->

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-maps-and-flags"></div>
                        <div class="class-name">.flaticon-maps-and-flags</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-email-1"></div>
                        <div class="class-name">.flaticon-email-1</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-incoming-call"></div>
                        <div class="class-name">.flaticon-incoming-call</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-monitor"></div>
                        <div class="class-name">.flaticon-monitor</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-mouse-1"></div>
                        <div class="class-name">.flaticon-mouse-1</div>
                    </div>


                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-layers"></div>
                        <div class="class-name">.flaticon-layers</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-web-design"></div>
                        <div class="class-name">.flaticon-web-design</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-check-mark"></div>
                        <div class="class-name">.flaticon-check-mark</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-wordpress"></div>
                        <div class="class-name">.flaticon-wordpress</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-wordpress-1"></div>
                        <div class="class-name">.flaticon-wordpress-1</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-calendar"></div>
                        <div class="class-name">.flaticon-calendar</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-category"></div>
                        <div class="class-name">.flaticon-category</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-leaf"></div>
                        <div class="class-name">.flaticon-leaf</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-image"></div>
                        <div class="class-name">.flaticon-image</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-search"></div>
                        <div class="class-name">.flaticon-search</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-up-right-arrow"></div>
                        <div class="class-name">.flaticon-up-right-arrow</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-telephone"></div>
                        <div class="class-name">.flaticon-telephone</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-phone"></div>
                        <div class="class-name">.flaticon-phone</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-email"></div>
                        <div class="class-name">.flaticon-email</div>
                    </div>




                    <!--New-->

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-computer-hardware"></div>
                        <div class="class-name">.flaticon-computer-hardware</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-mouse"></div>
                        <div class="class-name">.flaticon-mouse</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-download"></div>
                        <div class="class-name">.flaticon-download</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-cloud-computing"></div>
                        <div class="class-name">.flaticon-cloud-computing</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-chart"></div>
                        <div class="class-name">.flaticon-chart</div>
                    </div>


                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-data"></div>
                        <div class="class-name">.flaticon-data</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-programmer"></div>
                        <div class="class-name">.flaticon-programmer</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-survey"></div>
                        <div class="class-name">.flaticon-survey</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-positive-review"></div>
                        <div class="class-name">.flaticon-positive-review</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-profit"></div>
                        <div class="class-name">.flaticon-profit</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-engineer"></div>
                        <div class="class-name">.flaticon-engineer</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-parking"></div>
                        <div class="class-name">.flaticon-parking</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-up-arrow"></div>
                        <div class="class-name">.flaticon-up-arrow</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-quote"></div>
                        <div class="class-name">.flaticon-quote</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-back-left"></div>
                        <div class="class-name">.flaticon-back-left</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-quotation-mark"></div>
                        <div class="class-name">.flaticon-quotation-mark</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-email-2"></div>
                        <div class="class-name">.flaticon-email-2</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-map-location"></div>
                        <div class="class-name">.flaticon-map-location</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-clock"></div>
                        <div class="class-name">.flaticon-clock</div>
                    </div>



                    <!--New-->

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-technical-support"></div>
                        <div class="class-name">.flaticon-technical-support</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-mouse"></div>
                        <div class="class-name">.flaticon-mouse</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-consultant"></div>
                        <div class="class-name">.flaticon-consultant</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-touch"></div>
                        <div class="class-name">.flaticon-touch</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-monitor-1"></div>
                        <div class="class-name">.flaticon-monitor-1</div>
                    </div>


                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-laptop"></div>
                        <div class="class-name">.flaticon-laptop</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-laptop-1"></div>
                        <div class="class-name">.flaticon-laptop-1</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-support"></div>
                        <div class="class-name">.flaticon-support</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-technology"></div>
                        <div class="class-name">.flaticon-technology</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-responsive"></div>
                        <div class="class-name">.flaticon-responsive</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-coding"></div>
                        <div class="class-name">.flaticon-coding</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-web-programming"></div>
                        <div class="class-name">.flaticon-web-programming</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-coding-1"></div>
                        <div class="class-name">.flaticon-coding-1</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-app-development"></div>
                        <div class="class-name">.flaticon-app-development</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-growth"></div>
                        <div class="class-name">.flaticon-growth</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-software-development"></div>
                        <div class="class-name">flaticon-software-development</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-web-development"></div>
                        <div class="class-name">.flaticon-web-development</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-promotion"></div>
                        <div class="class-name">.flaticon-promotion</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-supply-chain"></div>
                        <div class="class-name">.flaticon-supply-chain</div>
                    </div>

                    <!--New-->

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-development"></div>
                        <div class="class-name">.flaticon-development</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-skills"></div>
                        <div class="class-name">.flaticon-skills</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-improve"></div>
                        <div class="class-name">.flaticon-improve</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-js-file"></div>
                        <div class="class-name">.flaticon-js-file</div>
                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-files"></div>
                        <div class="class-name">.flaticon-files</div>
                    </div>


                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-css"></div>
                        <div class="class-name">.flaticon-css</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-python"></div>
                        <div class="class-name">.flaticon-python</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-html-file"></div>
                        <div class="class-name">.flaticon-html-file</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-physics"></div>
                        <div class="class-name">.flaticon-physics</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-web-plugin"></div>
                        <div class="class-name">.flaticon-web-plugin</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-plugin"></div>
                        <div class="class-name">.flaticon-plugin</div>

                    </div>

                    <div class="icon-font-block">
                        <div class="flat-icon flaticon-web-plugin-1"></div>
                        <div class="class-name">.flaticon-web-plugin-1</div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>