<div class="widget  recent-posts-entry">
    <h4 class="widget-title  ">Latest News</h4>
    <div class="section-content">
        <div class="widget-post-bx">
            <div class="widget-post clearfix">
                <div class="sx-post-media">
                    <img src="assets/images/blog/recent-blog/pic1.jpg" alt="">
                </div>
                <div class="sx-post-info p-t30">
                    <div class="sx-post-meta ">
                        <ul>
                            <li class="post-date"><a routerLink="/itsolutions/services/detail"><i
                                        class="fa fa-calendar"></i>01 Jan 2023</a></li>
                            <li class="post-author"><a routerLink="/itsolutions/services/detail"><i
                                        class="fa fa-comments"></i>0 Comments</a></li>
                        </ul>
                    </div>
                    <div class="sx-post-title ">
                        <h4 class="post-title"><a routerLink="/itsolutions/services/detail">Standard of business agency
                                kal Consulat Latest Management.</a></h4>
                    </div>
                    <div class="sx-post-readmore">
                        <a routerLink="/itsolutions/services/detail" title="READ MORE" rel="bookmark"
                            class="site-button-link icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="widget-dev-line"></div>

        <div class="widget-post-bx">
            <div class="widget-post clearfix">
                <div class="sx-post-media">
                    <img src="assets/images/blog/recent-blog/pic2.jpg" alt="">
                </div>
                <div class="sx-post-info p-t30">
                    <div class="sx-post-meta ">
                        <ul>
                            <li class="post-date"><a routerLink="/itsolutions/services/detail"><i
                                        class="fa fa-calendar"></i>01 Jan 2023</a></li>
                            <li class="post-author"><a routerLink="/itsolutions/services/detail"><i
                                        class="fa fa-comments"></i>0 Comments</a></li>
                        </ul>
                    </div>
                    <div class="sx-post-title ">
                        <h4 class="post-title"><a routerLink="/itsolutions/services/detail">Standard of business agency
                                kal Consulat Latest Management.</a></h4>
                    </div>
                    <div class="sx-post-readmore">
                        <a routerLink="/itsolutions/services/detail" title="READ MORE" rel="bookmark"
                            class="site-button-link icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="widget-dev-line"></div>

        <div class="widget-post-bx">
            <div class="widget-post clearfix">
                <div class="sx-post-media">
                    <img src="assets/images/blog/recent-blog/pic3.jpg" alt="">
                </div>
                <div class="sx-post-info p-t30">
                    <div class="sx-post-meta ">
                        <ul>
                            <li class="post-date"><a routerLink="/itsolutions/services/detail"><i
                                        class="fa fa-calendar"></i>01 Jan 2023</a></li>
                            <li class="post-author"><a routerLink="/itsolutions/services/detail"><i
                                        class="fa fa-comments"></i>0 Comments</a></li>
                        </ul>
                    </div>
                    <div class="sx-post-title ">
                        <h4 class="post-title"><a routerLink="/itsolutions/services/detail">Standard of business agency
                                kal Consulat Latest Management.</a></h4>
                    </div>
                    <div class="sx-post-readmore">
                        <a routerLink="/itsolutions/services/detail" title="READ MORE" rel="bookmark"
                            class="site-button-link icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>