<!-- SECTION CONTENT START -->
<div class="section-full p-t100 p-b70 sx-bg-light mobile-page-padding">

    <!-- TESTIMONIAL START -->
    <div class="container">
        <div class="section-content">
            <!-- TITLE START -->
            <!--Large Title-->
            <div class="large-title-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                        <!-- TITLE START -->
                        <div class="section-head left">
                            <div class="sx-head-s-title">Our Case Study</div>
                            <div class="sx-head-l-title">
                                <h2 class="sx-title">Our Itodo IT Solution Special Case Studies.</h2>
                            </div>
                        </div>
                        <!-- TITLE END -->

                    </div>


                    <div class="col-lg-6 col-md-6">
                        <div class=" large-title-info">
                            <p>Nunc tempor ultrices iaculis. Cras suscipit odio ut neque interdum, sed faucibus lorem
                                feugiat.
                                tincidunt tellus quis iaculis interdum. Donec a lobortis arcu. Fusce viverra a dolor
                                quis tincidunt. Pellentesque vitae diam sodales nisl dapibus finibus.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- TITLE END -->
            <div class="masonry-outer mfp-gallery news-grid clearfix row">

                <!-- COLUMNS 1 -->
                <div class="masonry-item  col-lg-6 col-md-6 col-sm-12 m-b30">
                    <div class="sx-case-study-bx sx-overlay-effect">

                        <div class="sx-case-media sx-img-overlay">
                            <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/case-study/pic-1.jpg" alt=""></a>
                            <a routerLink="/itsolutions/portfolio/detail" class="sx-case-link"><i
                                    class="flaticon-up-right-arrow"></i></a>
                        </div>

                        <div class="sx-case-info">
                            <div class="sx-s-title">Apps Design</div>
                            <a class="sx-l-title" routerLink="/itsolutions/portfolio/detail">
                                <h2 class="sx-title">IT Solution Business Mokup land</h2>
                            </a>
                            <div class="sx-case-readmore">
                                <a routerLink="/itsolutions/portfolio/detail" title="READ MORE" rel="bookmark"
                                    class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COLUMNS 2 -->
                <div class="masonry-item  col-lg-6 col-md-6 col-sm-12 m-b30">
                    <div class="sx-case-study-bx sx-overlay-effect">

                        <div class="sx-case-media sx-img-overlay">
                            <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/case-study/pic-2.jpg" alt=""></a>
                            <a routerLink="/itsolutions/portfolio/detail" class="sx-case-link"><i
                                    class="flaticon-up-right-arrow"></i></a>
                        </div>

                        <div class="sx-case-info">
                            <div class="sx-s-title">Branding Design</div>
                            <a class="sx-l-title" routerLink="/itsolutions/portfolio/detail">
                                <h2 class="sx-title">Visit Our planned modern farm</h2>
                            </a>
                            <div class="sx-case-readmore">
                                <a routerLink="/itsolutions/portfolio/detail" title="READ MORE" rel="bookmark"
                                    class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COLUMNS 3 -->
                <div class="masonry-item  col-lg-6 col-md-6 col-sm-12 m-b30">
                    <div class="sx-case-study-bx sx-overlay-effect">

                        <div class="sx-case-media sx-img-overlay">
                            <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/case-study/pic-3.jpg" alt=""></a>
                            <a routerLink="/itsolutions/portfolio/detail" class="sx-case-link"><i
                                    class="flaticon-up-right-arrow"></i></a>
                        </div>

                        <div class="sx-case-info">
                            <div class="sx-s-title">Apps Design</div>
                            <a class="sx-l-title" routerLink="/itsolutions/portfolio/detail">
                                <h2 class="sx-title">IT Solution Business Mokup land</h2>
                            </a>
                            <div class="sx-case-readmore">
                                <a routerLink="/itsolutions/portfolio/detail" title="READ MORE" rel="bookmark"
                                    class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COLUMNS 4 -->
                <div class="masonry-item  col-lg-6 col-md-6 col-sm-12 m-b30">
                    <div class="sx-case-study-bx sx-overlay-effect">

                        <div class="sx-case-media sx-img-overlay">
                            <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/case-study/pic-4.jpg" alt=""></a>
                            <a routerLink="/itsolutions/portfolio/detail" class="sx-case-link"><i
                                    class="flaticon-up-right-arrow"></i></a>
                        </div>

                        <div class="sx-case-info">
                            <div class="sx-s-title">Branding Design</div>
                            <a class="sx-l-title" routerLink="/itsolutions/portfolio/detail">
                                <h2 class="sx-title">Visit Our planned modern farm</h2>
                            </a>
                            <div class="sx-case-readmore">
                                <a routerLink="/itsolutions/portfolio/detail" title="READ MORE" rel="bookmark"
                                    class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COLUMNS 5 -->
                <div class="masonry-item  col-lg-6 col-md-6 col-sm-12 m-b30">
                    <div class="sx-case-study-bx sx-overlay-effect">

                        <div class="sx-case-media sx-img-overlay">
                            <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/case-study/pic-5.jpg" alt=""></a>
                            <a routerLink="/itsolutions/portfolio/detail" class="sx-case-link"><i
                                    class="flaticon-up-right-arrow"></i></a>
                        </div>

                        <div class="sx-case-info">
                            <div class="sx-s-title">Apps Design</div>
                            <a class="sx-l-title" routerLink="/itsolutions/portfolio/detail">
                                <h2 class="sx-title">IT Solution Business Mokup land</h2>
                            </a>
                            <div class="sx-case-readmore">
                                <a routerLink="/itsolutions/portfolio/detail" title="READ MORE" rel="bookmark"
                                    class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COLUMNS 6 -->
                <div class="masonry-item  col-lg-6 col-md-6 col-sm-12 m-b30">
                    <div class="sx-case-study-bx sx-overlay-effect">

                        <div class="sx-case-media sx-img-overlay">
                            <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/case-study/pic-6.jpg" alt=""></a>
                            <a routerLink="/itsolutions/portfolio/detail" class="sx-case-link"><i
                                    class="flaticon-up-right-arrow"></i></a>
                        </div>

                        <div class="sx-case-info">
                            <div class="sx-s-title">Branding Design</div>
                            <a class="sx-l-title" routerLink="/itsolutions/portfolio/detail">
                                <h2 class="sx-title">Visit Our planned modern farm</h2>
                            </a>
                            <div class="sx-case-readmore">
                                <a routerLink="/itsolutions/portfolio/detail" title="READ MORE" rel="bookmark"
                                    class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sx-pagination-wra text-center">
            <ul class="sx-pagination">
                <li><a href="#"><span class="fa fa-long-arrow-left"></span></a></li>
                <li><a href="#">01</a></li>
                <li class="active"><a href="#">02</a></li>
                <li><a href="#">03</a></li>
                <li><a href="#">04</a></li>
                <li><a href="#"><span class="fa fa-long-arrow-right"></span></a></li>
            </ul>
        </div>
    </div>
    <!-- TESTIMONIAL END -->

</div>
<!-- SECTION CONTENT END  -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->