<app-header3></app-header3>

<div class="page-content">

    <!--SLIDER BANNER START-->
    <app-section-slider3></app-section-slider3>
    <!--SLIDER BANNER END-->

    <!-- OUR SERVICES SECTION START -->
    <app-section-services3></app-section-services3>
    <!-- OUR SERVICES SECTION END -->

    <!-- ABOUT COMPANY START -->
    <app-section-about-company1></app-section-about-company1>
    <!-- ABOUT COMPANY END -->

    <!-- WHY CHOOSE-US SECTION START -->
    <app-section-why-choose-us1></app-section-why-choose-us1>
    <!-- WHY CHOOSE-US SECTION END -->

    <!-- OUR PORTFOLIO SECTION START -->
    <app-section-portfolio1></app-section-portfolio1>
    <!-- OUR PORTFOLIO SECTION END -->

    <!-- OUR TEAM START -->
    <app-section-team2></app-section-team2>
    <!-- OUR TEAM END -->

    <!-- TESTIMONIAL START -->
    <app-section-testimonials3></app-section-testimonials3>
    <!-- TESTIMONIAL END -->

    <!-- ABOUT COMPANY START -->
    <div class="section-full  p-t110 p-b80 sx-bg-light sx-about-bx4-outer">
        <app-section-about-company3></app-section-about-company3>
    </div>
    <!-- ABOUT COMPANY END -->

    <!-- LATEST BLOG START -->
    <app-section-blogs1></app-section-blogs1>
    <!-- LATEST BLOG  END -->

</div>