<div class="container">

    <div class="section-content">
        <div class="sx-about-bx4-content-wrap p-b70">
            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <div class="sx-about-bx4-media">
                        <div class="sx-ab4-img-outer">
                            <div class="sx-ab4-media">
                                <img src="assets/images/about/p3.jpg" alt="media">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="sx-about-bx4-content">
                        <h2 class="sx-title">Why Choose Us to Join Our Work?</h2>
                        <p>Nulla facilisi. Nullam congue, tortor id finibus posuere, risus magna convallis
                            massa, sit amet gr est tellus vitae dui. Proin hendrerit diam a commodo aliquam.
                            In vitae interdum odio. Duis sitam nisl eget odio facilisis lacinia.</p>


                        <ul class="sx-arrow-circle-checked">
                            <li>One-time security check fee: $99.95</li>
                            <li>Elite membership fee: $999.95 per month</li>
                            <li>Coast-to-coast domestic flights: from $3,799.95</li>
                        </ul>

                        <a routerLink="/company/why-choose-us" class="site-button sx-btn-primary icon sx-btn-lg">
                            <i class="fa  fa-long-arrow-right"></i>
                            View All
                        </a>


                    </div>
                </div>


            </div>
        </div>

        <!--testimonial section -->
        <app-section-testimonials2></app-section-testimonials2>

    </div>

</div>