<div class="section-full p-t110 p-b80 sx-bg-light sx-our-info-outer ">
    <div class="container">

        <div class="section-content">
            <div class="row sx-our-info-content-wrap">
                <!--One block-->
                <div class="col-lg-4 col-md-4">
                    <div class="sx-our-info-content">
                        <ul>
                            <li>
                                <div class="sx-our-info-content-list left">
                                    <span class="sx-sub-title">Working Experience</span>
                                    <h3 class="sx-bx-title">8+ Years Experience. (Accenture)</h3>
                                </div>
                            </li>
                            <li>
                                <div class="sx-our-info-content-list left">
                                    <span class="sx-sub-title">Experience</span>
                                    <h3 class="sx-bx-title">UX/UI Designer & Frontend developer</h3>
                                </div>
                            </li>
                            <li>
                                <div class="sx-our-info-content-list left">
                                    <span class="sx-sub-title">Service</span>
                                    <h3 class="sx-bx-title">Web Template & Apps Design.</h3>
                                </div>
                            </li>
                            <li>
                                <div class="sx-our-info-content-list left">
                                    <span class="sx-sub-title">Strategy</span>
                                    <h3 class="sx-bx-title">Brand Designer.</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--One two-->
                <div class="col-lg-4 col-md-4">
                    <div class="sx-our-info-media-wrap">
                        <div class="sx-our-info-media">
                            <img src="assets/images/our-info.jpg" alt="image">
                        </div>
                    </div>
                </div>

                <!--One three-->
                <div class="col-lg-4 col-md-4">
                    <div class="sx-our-info-content">
                        <ul>
                            <li>
                                <div class="sx-our-info-content-list right">
                                    <span class="sx-sub-title">Contact</span>
                                    <h3 class="sx-bx-title">inf.kali@gmail.com
                                        +99 555 66 22 00</h3>
                                </div>
                            </li>
                            <li>
                                <div class="sx-our-info-content-list right">
                                    <span class="sx-sub-title">Location</span>
                                    <h3 class="sx-bx-title">House 03, Paris, United Kingdom.</h3>
                                </div>
                            </li>
                            <li>
                                <div class="sx-our-info-content-list right">
                                    <span class="sx-sub-title">Education</span>
                                    <h3 class="sx-bx-title">BSE in computer science.</h3>
                                </div>
                            </li>
                            <li>
                                <div class="sx-our-info-content-list right">
                                    <span class="sx-sub-title">Social Icon</span>
                                    <h3 class="sx-bx-title">Facebook, Linkdin, Instagram.</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>