<div class="sx-client-logo-3-wrap">
    <div class="sx-bg-white sx-bg-batten"></div>
    <div class="container">
        <div class="sx-bg-primary sx-client-logo-3-outer">
            <div class="client-logo-pic3-wrap">

                <div class="row  grid-5">

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <a routerLink="/company/contact" class="client-logo-pic2">
                            <img src="assets/images/client-logo/white/client-logo-1.png" alt="">
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <a routerLink="/company/contact" class="client-logo-pic2">
                            <img src="assets/images/client-logo/white/client-logo-2.png" alt="">
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <a routerLink="/company/contact" class="client-logo-pic2">
                            <img src="assets/images/client-logo/white/client-logo-3.png" alt="">
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <a routerLink="/company/contact" class="client-logo-pic2">
                            <img src="assets/images/client-logo/white/client-logo-5.png" alt="">
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <a routerLink="/company/contact" class="client-logo-pic2">
                            <img src="assets/images/client-logo/white/client-logo-4.png" alt="">
                        </a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>