<div class="counter-blocks">
    <div class="row when-item-four">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="sx-count">
                <h2 class="sx-title">
                    <span class="sx-cont-before">+</span>
                    <span class="counter">12</span>
                    <span class="sx-cont-after">K</span>
                </h2>
                <div class="sx-count-info">Our Active Member</div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="sx-count">
                <h2 class="sx-title">
                    <span class="sx-cont-before">+</span>
                    <span class="counter">1.5</span>
                    <span class="sx-cont-after">K</span>
                </h2>
                <div class="sx-count-info">Our Total Project</div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="sx-count">
                <h2 class="sx-title">
                    <span class="sx-cont-before">+</span>
                    <span class="counter">14</span>
                </h2>
                <div class="sx-count-info">Our Winning Award</div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="sx-count">
                <h2 class="sx-title">
                    <span class="sx-cont-before">+</span>
                    <span class="counter">50</span>
                </h2>
                <div class="sx-count-info">Our Team Member</div>
            </div>
        </div>
    </div>
</div>