<!-- FAQ START -->
<div class="section-full  p-t100 p-b0 sx-bg-white sx-faq--outer">
    <div class="container">
        <div class="aon-faq-row-section">

            <!-- Detail SECTION START -->
            <div class="sx-faq-style-1-wrap">
                <ul class="nav nav-pills sx-tab-style-1" role="tablist">
                    <li class="nav-item">
                        <div class="nav-link active" data-bs-toggle="pill" data-bs-target="#day_1">
                            <h5 class="tb-title">General Faq</h5>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-bs-toggle="pill" data-bs-target="#day_2">
                            <h5 class="tb-title">Help Faq</h5>
                        </div>
                    </li>

                </ul>
                <div class="tab-content">
                    <!--1-->
                    <div class="tab-pane fade show active" id="day_1" role="tabpanel">
                        <div class="aon-faq-content">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="sx-acdn-style-1-section">
                                        <div class="accordion sx-acdn-style-1" id="sf-faq-accordion">
                                            <!--One-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ1"
                                                    aria-expanded="false">
                                                    What should be listed on a business card?
                                                </button>

                                                <div id="FAQ1" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit, vitae laoreet leo diam vitae quam.
                                                        Curabitur dignissim nisi sed libero pellentesque
                                                        hendrerit. Morbi condimentum in elit in lobortis.
                                                    </div>
                                                </div>

                                            </div>

                                            <!--Two-->
                                            <div class="accordion-item">

                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#FAQ2" aria-expanded="true">
                                                    What is the standard size of business cards?
                                                </button>

                                                <div id="FAQ2" class="accordion-collapse collapse show"
                                                    data-bs-parent="#sf-faq-accordion">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>

                                            </div>

                                            <!--Three-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ3"
                                                    aria-expanded="false">
                                                    What should be listed on a business card?
                                                </button>

                                                <div id="FAQ3" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Four-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ4"
                                                    aria-expanded="false">
                                                    How do I design my own business cards?
                                                </button>

                                                <div id="FAQ4" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Five-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ5"
                                                    aria-expanded="false">
                                                    Design my own business cards?
                                                </button>

                                                <div id="FAQ5" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Six-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ6"
                                                    aria-expanded="false">
                                                    What should be listed on a business card?
                                                </button>

                                                <div id="FAQ6" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12">
                                    <div class="aon-faq-1-media">
                                        <img src="assets/images/faq-img-1.jpg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--2-->
                    <div class="tab-pane fade" id="day_2" role="tabpanel">
                        <div class="aon-faq-content">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="sx-acdn-style-1-section">
                                        <div class="accordion sx-acdn-style-1" id="sf-faq-accordion-1">
                                            <!--One-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ1-1"
                                                    aria-expanded="false">
                                                    What should be listed on a business card?
                                                </button>

                                                <div id="FAQ1-1" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion-1">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>

                                            </div>

                                            <!--Two-->
                                            <div class="accordion-item">

                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#FAQ2-1" aria-expanded="true">
                                                    What is the standard size of business cards?
                                                </button>

                                                <div id="FAQ2-1" class="accordion-collapse collapse show"
                                                    data-bs-parent="#sf-faq-accordion-1">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>

                                            </div>

                                            <!--Three-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ3-1"
                                                    aria-expanded="false">
                                                    What should be listed on a business card?
                                                </button>

                                                <div id="FAQ3-1" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion-1">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Four-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ4-1"
                                                    aria-expanded="false">
                                                    How do I design my own business cards?
                                                </button>

                                                <div id="FAQ4-1" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion-1">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Five-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ5-1"
                                                    aria-expanded="false">
                                                    Design my own business cards?
                                                </button>

                                                <div id="FAQ5-1" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion-1">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Six-->
                                            <div class="accordion-item">

                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#FAQ6-1"
                                                    aria-expanded="false">
                                                    What should be listed on a business card?
                                                </button>

                                                <div id="FAQ6-1" class="accordion-collapse collapse"
                                                    data-bs-parent="#sf-faq-accordion-1">
                                                    <div class="accordion-body">
                                                        Nullam pulvinar, enim ornare tristique vehicula, massa
                                                        est eleifend velit pellentesque hendrerit. Morbi
                                                        condimentum in elit in lobortis. Maurisvit velit erat.
                                                        Nunc in urna sit amet nisi venenatis listed on a
                                                        business card.
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12">
                                    <div class="aon-faq-1-media">
                                        <img src="assets/images/faq-img-2.jpg" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Detail SECTION END -->

        </div>
    </div>
</div>
<!-- FAQ END -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->