<!-- WHY CHOOSE-US SECTION START -->
<app-section-why-choose-us1></app-section-why-choose-us1>
<!-- WHY CHOOSE-US SECTION END -->

<!-- ABOUT COMPANY START -->
<app-section-about-company1></app-section-about-company1>
<!-- ABOUT COMPANY END -->

<!-- VIDEO SECTION START -->
<app-section-video2></app-section-video2>
<!-- VIDEO SECTION START -->

<!-- ABOUT COMPANY START -->
<div class="section-full  p-t100 p-b0 sx-bg-light sx-about-bx4-outer">
    <app-section-about-company3></app-section-about-company3>
    <app-section-pricing1></app-section-pricing1>
</div>
<!-- ABOUT COMPANY END -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->