<app-header2></app-header2>

<div class="page-content">

    <!--SLIDER BANNER START-->
    <app-section-slider2></app-section-slider2>
    <!--SLIDER BANNER END-->

    <!-- ABOUT COMPANY START -->

    <div class="section-full  p-t110 p-b80 bg-white sx-about-bx3-outer">
        <div class="container">
            <div class="section-content">
                <app-section-about-company2 watermark_aside="About Us"></app-section-about-company2>
    
                <!-- COUNTER START -->
                <app-section-counter1></app-section-counter1>
                <!-- COUNTER  END -->
            </div>
    
        </div>
    
    </div>
    <!-- ABOUT COMPANY END -->

    <!-- OUR SERVICES SECTION START -->
    <app-section-services2></app-section-services2>
    <!-- OUR SERVICES SECTION END -->

    <!-- OUR CLIENTS SECTION START -->
    <app-section-clients2></app-section-clients2>
    <!-- OUR CLIENTS SECTION END -->

    <div class="sx-div-line"></div>

    <!-- OUR CASE STUDY SECTION -->
    <app-section-case-study2></app-section-case-study2>
    <!-- OUR CASE STUDY END -->

    <!-- OUR TEAM START -->
    <app-section-team1></app-section-team1>
    <!-- OUR TEAM END -->

    <!-- VIDEO SECTION START -->
    <app-section-video2></app-section-video2>
    <!-- VIDEO SECTION START -->

    <!-- ABOUT COMPANY START -->
    <div class="section-full  p-t110 p-b80 sx-bg-light sx-about-bx4-outer">
        <app-section-about-company3></app-section-about-company3>
    </div>
    <!-- ABOUT COMPANY END -->

    <!-- LATEST BLOG START -->
    <app-section-blogs1></app-section-blogs1>
    <!-- LATEST BLOG END -->

</div>