<!-- ABOUT COMPANY START -->
<div class="section-full  p-t110 p-b80 bg-white sx-about-bx3-outer">
    <div class="container">
        <div class="section-content">
            <app-section-about-company2 watermark_aside="Mission"></app-section-about-company2>

            <!-- Info START -->
            <app-section-about-company4></app-section-about-company4>
            <!-- Info  END -->
        </div>

    </div>

</div>
<!-- ABOUT COMPANY END -->

<!-- OUR info START -->
<app-section-our-info1></app-section-our-info1>
<!-- OUR info END -->

<!-- VIDEO SECTION START -->
<app-section-video3 back_image="assets/images/vid-3-bg.jpg"></app-section-video3>
<!-- VIDEO SECTION START -->

<!-- OUR TEAM START -->
<app-section-team1></app-section-team1>
<!-- OUR TEAM END -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->