<!-- service detail SECTION START -->
<div class="section-full p-b80 sx-ser-detail-outer sx-bg-white">
    <div class="sx-ser-detail-l-pic p-b80">
        <div class="sx-media  relative ">
            <img src="assets/images/services/service-detail.jpg" alt="image">
            <div class="sx-bnr-outline-text">
                <h1> It Solution</h1>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="section-content">
            <div class="sx-our-service-detail">
                <!-- TITLE START -->
                <div class="section-head2">
                    <div class="sx-head-s-title">Why Choose Uss</div>
                    <div class="sx-head-l-title">
                        <h2 class="sx-title2">Our creative design solutions are for people, not for machines. Yet made
                            by people and machines.</h2>
                    </div>
                </div>
                <!-- TITLE END -->
                <div class="sx-our-service-info m-b80">

                    <p>Mauris ultricies orci in sodales molestie. Nullam et vehicula lacus, euismod gravida tortor.
                        Morbi ipsum lectus, viverra id vulputate eget, molestie non nunc. Donec mollis accumsan risus,
                        at vestibul
                        at. Cras vulputate nisi in consectetur sollicitudin. Vestibulum ut vestibulum justo. Fusce
                        fringilla ullamcorper elit, a bibendum orci blandit non. Integer porta, nunc ut ornare auctor,
                        mauris nulla bland
                        tortor nisi eget ex. Integer luctus sollicitudin justo et finibus. Vestibulum ante ipsum primis
                        in faucibus orci luctus et ultrices posuere cubilia curae; Nulla in ligula vitae turpis suscipit
                        tristique id ut tu
                        purus in arcu tempor, nec suscipit nulla sodales.
                    </p>

                    <p>Proin finibus imperdiet nulla, quis euismod nunc gravida eget. Vestibulum iaculis nibh facilisis
                        felis iaculis vestibulum. Curabitur purus nulla, bibendum vitae varius pulvinar, molestie in
                        massa. Quis
                        nunc, vitae rutrum libero. Duis eget consectetur urna. Ut ut aliquet magna. Nullam augue nulla,
                        fermentum vel elit eu, posuere vehicula tellus. Orci varius natoque penatibus et magnis dis
                        parturient
                        ridiculus mus. Nam eget nisl non elit tempor dignissim nec non sapien.
                    </p>
                    <div class="row sx-about-icon-bx1-column p-t50 p-b20">
                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-mouse-1"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Information technology</span>
                                    <span class="sx-icon-bx-title-info">Consulting</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-download"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Easy to edit process</span>
                                    <span class="sx-icon-bx-title-info">IT Service</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="sx-icon-bx-2">
                                <div class="sx-media">
                                    <i class="flaticon-wordpress"></i>
                                </div>
                                <div class="sx-icon-bx-info">
                                    <span class="sx-icon-bx-title">Wordpress table design</span>
                                    <span class="sx-icon-bx-title-info">IT Business</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Proin finibus imperdiet nulla, quis euismod nunc gravida eget. Vestibulum iaculis nibh facilisis
                        felis iaculis vestibulum. Curabitur purus nulla, bibendum vitae varius pulvinar, molestie in
                        massa. Quis
                        nunc, vitae rutrum libero. Duis eget consectetur urna. Ut ut aliquet magna. Nullam augue nulla,
                        fermentum vel elit eu, posuere vehicula tellus. Orci varius natoque penatibus et magnis dis
                        parturient
                        ridiculus mus. Nam eget nisl non elit tempor dignissim nec non sapien.
                    </p>

                </div>
                <!-- COUNTER START -->
                <app-section-counter1></app-section-counter1>
                <!-- COUNTER  END -->

            </div>
        </div>
    </div>

</div>
<!-- service detail SECTION END -->

<!-- VIDEO SECTION START -->
<app-section-video2></app-section-video2>
<!-- VIDEO SECTION START -->

<!-- ABOUT COMPANY START -->
<div class="section-full  p-t100 p-b0 sx-bg-light sx-about-bx4-outer">
    <app-section-about-company3></app-section-about-company3>
    <app-section-pricing1></app-section-pricing1>
</div>
<!-- ABOUT COMPANY END -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->