<div class="sx-bnr-3-wrap-outer home-3-slider">

    <!-- swiper slides -->
    <div class="swiper-wrapper">

        <div class="sx-bnr-3-wrap swiper-slide overlay-overlay"
            style="background-image: url(assets/images/main-slider/slider3/slide1.jpg);">
            <div class="sx-bg-overlay opacity-0 sx-bg-primary"></div>

            <div class="container">
                <div class="sx-bnr-3-content">
                    <span class="sx-bnr-3-small-title">we are The best</span>
                    <h2 class="sx-bnr-3-large-title">We are ready
                        To IT Solution Work.</h2>

                    <div class="sx-bnr-readmore">
                        <a routerLink="/company/contact" class="site-button sx-btn-primary icon">
                            <i class="fa  fa-long-arrow-right"></i>
                            Free Quote
                        </a>
                    </div>
                    <div class="sx-bnr-video">
                        <a href="https://www.youtube.com/watch?v=c1XNqw2gSbU" class="mfp-video circle">
                            <i class="flaticon-play"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sx-bnr-text-masking large">
                <div class="light">
                    <h1 class="sx-title">IT</h1>
                </div>
            </div>

        </div>


        <div class="sx-bnr-3-wrap swiper-slide overlay-overlay"
            style="background-image: url(assets/images/main-slider/slider3/slide2.jpg);">
            <div class="sx-bg-overlay opacity-0 sx-bg-primary"></div>
            <div class="container">
                <div class="sx-bnr-3-content">
                    <span class="sx-bnr-3-small-title">We are Dedicated</span>
                    <h2 class="sx-bnr-3-large-title">Making IT a part of your business.</h2>

                    <div class="sx-bnr-readmore">
                        <a routerLink="/company/about" class="site-button sx-btn-primary icon">
                            <i class="fa  fa-long-arrow-right"></i>
                            Read More
                        </a>
                    </div>
                    <div class="sx-bnr-video">
                        <a href="https://www.youtube.com/watch?v=c1XNqw2gSbU" class="mfp-video circle">
                            <i class="flaticon-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sx-bnr-text-masking large">
                <div class="light">
                    <h1 class="sx-title">do!</h1>
                </div>
            </div>

        </div>



    </div>
    <!-- !swiper slides -->

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>