<div class="section-full p-t100 p-b70 mobile-page-padding">
    <div class="container">
        <!-- Filter Nav START -->
        <div class="filter-navigation-wrap p-b30">
            <ul class="filter-navigation masonry-filter clearfix">
                <li class="active"><a class="btn-inline " data-filter="*" href="#" data-hover="All">All</a></li>
                <li><a class=" btn-inline " data-filter=".cat-1" href="#">UX/UI</a></li>
                <li><a class=" btn-inline " data-filter=".cat-2" href="#">HTML</a></li>
                <li><a class=" btn-inline " data-filter=".cat-3" href="#">Wordpress</a></li>
                <li><a class=" btn-inline " data-filter=".cat-4" href="#">Branding</a></li>
                <li><a class=" btn-inline " data-filter=".cat-5" href="#">Photoshop</a></li>
            </ul>
        </div>
        <!-- Filter Nav END -->

        <!-- GALLERY CONTENT START -->
        <ul class="masonry-outer mfp-gallery work-grid row clearfix list-unstyled m-b0">

            <!-- COLUMNS 1 -->
            <li class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/1.jpg" alt=""></a>
                        <a href="assets/images/gallery/1.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/1.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 2 -->
            <li class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/2.jpg" alt=""></a>
                        <a href="assets/images/gallery/2.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/2.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 3 -->
            <li class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/3.jpg" alt=""></a>
                        <a href="assets/images/gallery/3.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/3.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 4 -->
            <li class="masonry-item cat-4 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/4.jpg" alt=""></a>
                        <a href="assets/images/gallery/4.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/4.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 5 -->
            <li class="masonry-item cat-5 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/5.jpg" alt=""></a>
                        <a href="assets/images/gallery/5.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/5.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 6 -->
            <li class="masonry-item cat-4 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/6.jpg" alt=""></a>
                        <a href="assets/images/gallery/6.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/6.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 7 -->
            <li class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/7.jpg" alt=""></a>
                        <a href="assets/images/gallery/7.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/7.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 8 -->
            <li class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/8.jpg" alt=""></a>
                        <a href="assets/images/gallery/8.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/8.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>
            <!-- COLUMNS 9 -->
            <li class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
                <div class="sx-gallery-block">
                    <div class="sx-gallery-media sx-img-overlay">
                        <a routerLink="/itsolutions/portfolio/detail"><img src="assets/images/gallery/9.jpg" alt=""></a>
                        <a href="assets/images/gallery/9.jpg" class="sx-gallery-link elem"
                            data-lcl-txt="Regulatory Compliance System" data-lcl-author="someone"
                            data-lcl-thumb="assets/images/gallery/9.jpg"><i class="flaticon-up-right-arrow"></i></a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- GALLERY CONTENT END -->

        <!--Pagination-->
        <div class="sx-pagination-wra text-center">
            <ul class="sx-pagination">
                <li><a href="#"><span class="fa fa-long-arrow-left"></span></a></li>
                <li><a href="#">01</a></li>
                <li class="active"><a href="#">02</a></li>
                <li><a href="#">03</a></li>
                <li><a href="#">04</a></li>
                <li><a href="#"><span class="fa fa-long-arrow-right"></span></a></li>
            </ul>
        </div>
        <!--Pagination-->
    </div>
</div>