<!-- SECTION CONTENT START -->
<div class="section-full p-t100 p-b0 mobile-page-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <!--one-->
                <div class="sx-latest-post-st-1 m-b50">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid-sidebar/pic1.jpg"
                                alt="Image"></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-calendar"></i>01 Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-comments"></i>0 Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size business agency
                                    kal Consulat Latest Management.</a></h4>
                            <div class="sx-post-text">
                                <p>Pellentesque sed urna odio. Donec auctor nunc ac libero commodo volutpat. Nullam
                                    massa nulla, dignissim non pretium eu, varius aliquet lacus. Maecenas tortor arcu,
                                    efficitur sit amet eleifend vel, interdum id nulla.</p>
                            </div>
                        </div>

                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark"
                                class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>

                <!--two-->
                <div class="sx-latest-post-st-1 m-b50">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid-sidebar/pic2.jpg"
                                alt="Image"></a>

                        <a href="https://www.youtube.com/watch?v=c1XNqw2gSbU" class="mfp-video circle-small">
                            <i class="fa fa-play"></i>
                        </a>

                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-calendar"></i>01 Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-comments"></i>0 Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size business agency
                                    kal Consulat Latest Management.</a></h4>
                            <div class="sx-post-text">
                                <p>Pellentesque sed urna odio. Donec auctor nunc ac libero commodo volutpat. Nullam
                                    massa nulla, dignissim non pretium eu, varius aliquet lacus. Maecenas tortor arcu,
                                    efficitur sit amet eleifend vel, interdum id nulla.</p>
                            </div>
                        </div>

                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark"
                                class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>

                <!--Three-->
                <div class="sx-latest-post-st-1 sx-no-image m-b50">

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-calendar"></i>01 Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-comments"></i>0 Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size agency kal
                                    Consulat Latest Management.</a></h4>
                            <div class="sx-post-text">
                                <p>Pellentesque sed urna odio. Donec auctor nunc ac libero commodo volutpat. Nullam
                                    massa nulla, dignissim
                                    lacus. Maecenas tortor arcu, efficitur sit amet eleifend vel, interdum id nulla.
                                    Curabitur sem ligula, hendrerit ac mollis at, rutrum quis leo. Ut non augue id
                                    tortor consequat efficitur. Pellentesque porta nisl magna, sit amet scelerisque nisi
                                    aliquam et. Integer suscipit turpis at laoreet imperdiet.</p>
                            </div>
                        </div>

                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark"
                                class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>

                <!--Four-->
                <div class="sx-latest-post-st-1 m-b50">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid-sidebar/pic3.jpg"
                                alt="Image"></a>

                        <a href="https://www.youtube.com/watch?v=c1XNqw2gSbU" class="mfp-video circle-small">
                            <i class="fa fa-play"></i>
                        </a>

                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-calendar"></i>01 Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-comments"></i>0 Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size business agency
                                    kal Consulat Latest Management.</a></h4>
                            <div class="sx-post-text">
                                <p>Pellentesque sed urna odio. Donec auctor nunc ac libero commodo volutpat. Nullam
                                    massa nulla, dignissim non pretium eu, varius aliquet lacus. Maecenas tortor arcu,
                                    efficitur sit amet eleifend vel, interdum id nulla.</p>
                            </div>
                        </div>

                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark"
                                class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>

                <!--Five-->
                <div class="sx-latest-post-st-1 m-b50">

                    <div class="sx-post-media sx-img-effect img-reflection">
                        <a routerLink="/itblogs/blogs/detail"><img src="assets/images/blog/blog-grid-sidebar/pic4.jpg"
                                alt="Image"></a>
                    </div>

                    <div class="sx-post-info p-t30">
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-calendar"></i>01 Jan 2023</a></li>
                                <li class="post-author"><a routerLink="/itblogs/blogs/detail"><i
                                            class="fa fa-comments"></i>0 Comments</a></li>
                            </ul>
                        </div>
                        <div class="sx-post-title ">
                            <h4 class="post-title"><a routerLink="/itblogs/blogs/detail">Standard size business agency
                                    kal Consulat Latest Management.</a></h4>
                            <div class="sx-post-text">
                                <p>Pellentesque sed urna odio. Donec auctor nunc ac libero commodo volutpat. Nullam
                                    massa nulla, dignissim non pretium eu, varius aliquet lacus. Maecenas tortor arcu,
                                    efficitur sit amet eleifend vel, interdum id nulla.</p>
                            </div>
                        </div>

                        <div class="sx-post-readmore">
                            <a routerLink="/itblogs/blogs/detail" title="READ MORE" rel="bookmark"
                                class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- SIDE BAR START -->
            <div class="col-xl-4 col-lg-4 col-md-12 sticky_column">
                <app-section-sidebar></app-section-sidebar>
            </div>
            <!-- SIDE BAR END -->
        </div>
    </div>
</div>
<!-- SECTION CONTENT END -->

<!-- OUR CLIENTS SECTION START -->
<app-section-clients2 [show_title]="false"></app-section-clients2>
<!-- OUR CLIENTS SECTION END -->