<!-- SECTION CONTENT START -->
<div class="section-full p-t100 p-b70 mobile-page-padding">
    <div class="container">
        
            <div class="blog-single-space-wrap max-w800 m-lr-auto">
                <div class="blog-single-space">
                    <!-- BLOG START --> 
                    <div class="sx-post-media sx-img-effect img-reflection m-b30">
                        <a href="javascript:void();"><img src="assets/images/blog/single/pic-1.jpg" alt="Image"></a>
                    </div>
                    <div class="single-blog-post blog-detail m-b30">
                        
                        <div class="sx-post-meta ">
                            <ul>
                                <li class="post-date"><a href="javascript:void();"><i class="fa fa-calendar"></i>05 Jan 2023</a></li>
                                <li class="post-author"><a href="javascript:void();"><i class="fa fa-comments"></i>0 Comments</a></li>
                            </ul>
                        </div> 
                                                      
                        <div class="sx-post-title ">
                            <h2 class="post-title">Standard size of business agency kal Consulat Latest Management.</h2>
                        </div>

                        <div class="sx-post-text">
                            <p>Pellentesque sed urna odio. Donec auctor nunc ac libero commodo volutpat. Nullam massa nulla, dignissim non pretium eu, variu Maecenas tortor arcu, efficitur sit amet eleifend vel, interdum id nulla.Etiam tristique non massa nec hendrerit. Cras lacinia varius euismod. Duis maximus tempor augue, eu blandit ex vehicula at. Maecenas accumsan dignissim diam pellentesque accumsan. lacus, quis vehicula nulla. Sed viverra, dui hendrerit lobortis pharetra, dui nulla facilisis risus, sed tincidunt orci mauris eu diam.lla euismod dapibus. Morbi sollicitudin tristique nibh, quis consequat nisi egestas vel. Lorem ipsum dolor sit amet, consectetur Donec maximus, augue nec feugiat convallis, est felis porta mauris, id finibus nulla justo at velit. Donec vestibulum pulvinar tortor,
                            orci faucibus et. Maecenas tempor dolor turpis, ac tristique sapien rutrum ultrices. Quisque vitae est sed leo ornare bibendum. tempus sed fringilla eu, luctus sed nulla. Sed ac congue urna, vitae dictum augue. Aenean eget dictum nunc.</p>

                            <p>Morbi quis ornare lorem, a malesuada lectus. Praesent rhoncus, nunc non molestie pretium, lectus enim facilisis arcu, lacinia mol dapibus dui. Ut vel commodo turpis, sed eleifend augue. Nullam mi erat, condimentum at mattis vel, auctor vitae magna. Nunc sit ligula. Quisque cursus elementum nisl, at varius sapien varius ac. Vestibulum ligula lectus, aliquam sollicitudin dui non, vulputate Suspendisse nec nibh nulla.</p>

                            
                            <h2 class="sx-post-detail-subtitle">Our Success Journey We can Provide.</h2>
                            <p>Nullam id ultricies tellus. Nulla tempor, elit ac maximus accumsan, urna arcu congue neque, non venenatis leo erat sed massa. amet vestibulum. Cras tincidunt mauris id nisl rutrum rutrum. Duis tincidunt, nulla venenatis eleifend sollicitudin, lacus purus iacul nunc. Maecenas ultrices lorem sed nulla scelerisque ornare. Aliquam quis orci sit amet arcu tincidunt euismod ac eget odio. Viva interdum arcu massa, sed tristique odio luctus id. Nulla a porttitor felis, sit amet volutpat ante.</p>

                            <p>Maecenas at dui ut leo efficitur tempus. Mauris elementum elit sed ex finibus aliquet. Donec turpis turpis, facilisis ac ante quis, pulvinar nibh ut risus euismod blandit. Proin cursus neque eget risus accumsan placerat. Quisque sapien lorem, maximus id turpi Maecenas ac dolor eget massa condimentum aliquet. Duis eget nisi facilisis eros sagittis semper sed ac ligula.</p>


                            <div class="row sx-about-icon-bx1-column p-tb30">
                                <div class="col-lg-6 col-md-6">
                                    <div class="sx-icon-bx-2">
                                        <div class="sx-media">
                                            <i class="flaticon-mouse-1"></i>
                                        </div>                                   
                                        <div class="sx-icon-bx-info">
                                            <span class="sx-icon-bx-title">Information technology</span>
                                            <span class="sx-icon-bx-title-info">Consulting</span>
                                        </div>                               
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="sx-icon-bx-2">
                                        <div class="sx-media">
                                            <i class="flaticon-download"></i>
                                        </div>                                   
                                        <div class="sx-icon-bx-info">
                                            <span class="sx-icon-bx-title">Easy to edit process</span>
                                            <span class="sx-icon-bx-title-info">IT Service</span>
                                        </div>                               
                                    </div>
                                </div>

                            </div>

                            <p>
                            Proin mollis orci in nisi dictum, sed vulputate tellus porta. Donec sit amet nulla bibendum, mollis enim eu, molestie arcu. Aliquam tesque ac rutrum ut, semper quis neque. Phasellus convallis, elit vitae porttitor molestie, ante justo ultrices lorem, quis tristique libero. Vivamus vel iaculis magna, vel sollicitudin turpis. Aliquam erat volutpat. Donec ornare eu odio ut posuere. Suspendisse vestibulum scelerisque. Proin convallis elit in arcu tincidunt, in placerat eros faucibus. Sed volutpat, turpis a scelerisque convallis,volutpat velit.
                            </p>

                            <blockquote class="author-quote">
                                
                                <div class="sx-bq-media-wrap">
                                    <div class="sx-bq-media">
                                        <i class="fa fa-quote-left"></i>
                                        <img src="assets/images/bq-media.jpg" alt="">
                                    </div>
                                </div>
                                <h4 class="sx-bq-title">Bentin Ali Benilmal</h4>
                                <span>Phasellus ac consequat turpis, sit amet fermentum nulla. dignissim augue nunc. Praesent bibendu erat ac lectus lobortis curabitur ultrices justo Phasellus.</span>
                            </blockquote>
                            

                            
                            <p>Etiam tristique non massa nec hendrerit. Cras lacinia varius tellus eget euismod. Duis maximus tempor augue, eu blandit ex vehic accumsan dignissim diam pellentesque accumsan. Duis sed mattis lacus, quis vehicula nulla. Sed viverra, dui hendrerit lobortis ulla facilisis risus, sed tincidunt orci mauris eu diam. Fusce fringilla euismod dapibus. Morbi sollicitudin tristique nibh, quis conse egestas vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus, augue nec feugiat convallis, est felis porta finibus nulla justo at velit. Donec vestibulum pulvinar tortor, sed vulputate orci faucibus et. Maecenas tempor dolor turpis, ac tristi
                            rutrum ultrices. Quisque vitae est sed leo ornare bibendum. Donec ex nibh, tempus sed fringilla.</p>

                            <div class="row sx-single-small-media">

                                <div class="col-md-6 col-sm-4">
                                    <div class="sx-box m-b30">
                                        <div class="sx-media">
                                            <img src="assets/images/blog/portrait/pic1.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4">
                                    <div class="sx-box m-b30">
                                        <div class="sx-media">
                                            <img src="assets/images/blog/portrait/pic2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <h2 class="sx-post-detail-subtitle">IT Solution History.</h2>
                            <p>Etiam tristique non massa nec hendrerit. Cras lacinia varius tellus eget euismod. Duis maximus tempor augue, eu blandit ex vehic
                            accumsan dignissim diam pellentesque accumsan. Duis sed mattis lacus, quis vehicula nulla. Sed viverra, dui hendrerit lobortis 
                            facilisis risus, sed tincidunt orci mauris eu diam. Fusce fringilla euismod dapibus. Morbi sollicitudin tristique nibh, quis consequat 
                            vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus, augue nec feugiat convallis, est felis porta mauris,
                            justo at velit. Donec vestibulum pulvinar tortor, sed vulputate orci faucibus et. Maecenas tempor dolor turpis, ac tristique sapien
                            Quisque vitae est sed leo ornare bibendum. Donec ex nibh, tempus sed fringilla.
                            </p>
                              
                            
                        </div>
                        
                        <div class="autor-post-tag-share">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget_tag_cloud single-post-tag">
                                        <h6 class="tagcloud">Tags:</h6>
                                        <div class="tagcloud">
                                            <a routerLink="/itsolutions/services">Creative</a>
                                            <a routerLink="/itsolutions/services">Agency</a>
                                            <a routerLink="/itsolutions/services">Business</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="widget_social_inks sx-social-icons ">
                                        <ul class="d-flex">
                                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div> 
                        </div> 

                        <div class="sx-blog-detail-author sx-bg-light">
                            <div class="sx-media">
                                <img src="assets/images/blog/single/avatar.jpg" alt="image">
                            </div>
                            <div class="sx-content">
                                <h3 class="sx-title">
                                    Monsur Rahman Lito
                                </h3>
                                <p>Phasellus ac consequat turpis, sit amet fermentum nulla. Donec dignissim augue nunc. Praesent bibendum erat ac lectus molestie lobortis. Curabitur ultrices justo ac leo facilisis giographycal mathode maya.</p>
                            </div>

                        </div>

                        <div class="s-post-pagination-control previous-next previous next">
                            <div class="paging-left paging-item">
                                <div class="paging-content"> 
                                    <a class="paging-link" href="/itblogs/blogs/grid">
                                        <i class="fa  fa-long-arrow-left"></i>
                                    </a>
                                    <div class="paging-content-inner">
                                        <a class="paging-link2" href="/itblogs/blogs/grid">Prev Services</a>
                                        <h4 class="paging-title">
                                            <a href="/itblogs/blogs/grid">IT Solution Business</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="paging-right paging-item">
                                <div class="paging-content reverse"> 
                                    <a class="paging-link" href="/itblogs/blogs/grid">
                                        <i class="fa  fa-long-arrow-right"></i> 
                                    </a>
                                    <div class="paging-content-inner">
                                        <a class="paging-link2" href="/itblogs/blogs/grid">Next Portfolio</a>
                                        <h4 class="paging-title">
                                            <a href="/itblogs/blogs/grid">IT Solution Cources</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>                              
                                                                         
                    </div>
                    
                </div>

                <!-- LATEST BLOG START -->
                <app-section-latest-news></app-section-latest-news>  
                <!-- LATEST BLOG  END --> 

                <div class="clear comment-section-outer" id="comment-list">
                    <div class="comments-area" id="comments">
                        <h2 class="comments-title m-b30">Comments<span>(02)</span></h2>
                        <div class="comments-outer p-b30">
                            <!-- COMMENT LIST START -->
                            <app-section-comments></app-section-comments>
                            <!-- COMMENT LIST END -->
                            
                            <!-- LEAVE A REPLY START -->
                            <app-section-leave-a-reply></app-section-leave-a-reply>
                            <!-- LEAVE A REPLY END -->
                        </div>
                    </div>
                </div>

            </div>
            
    </div>
</div>
<!-- SECTION CONTENT END -->